<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../js/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../js/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">检索:</label>
                    <div class="layui-input-block">
                        <input type="text" name="keyWord" placeholder="请输入编码、名称、拼音" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="commoditySale-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>

            <table id="commoditySale-manage" lay-filter="commoditySale-manage"></table>
            <script type="text/html" id="table-commoditySale-tools">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="toVoid"><i
                        class="layui-icon layui-icon-face-cry"></i>作废</a>
            </script>
        </div>
    </div>
</div>

<script src="../../js/layui/layui.js"></script>
<script>
    layui.config({
        base: '/js/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'saleList', 'table'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin;

        //监听搜索
        form.on('submit(commoditySale-front-search)', function (data) {
            var field = data.field;
            var jsonData = {"keyWord": "" + field + ""}
            admin.req({
                url: layui.setter.serviceURI + '/sale/getAll'
                , Method: 'GET'
                , dataType: 'json'
                , data: field
                , done: function (r) {
                    if (r.success) {
                        table.reload('commoditySale-manage');
                        layer.msg(r.msg);
                    }
                }
            });
            //执行重载
            table.reload('commoditySale-manage', {
                where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('commoditySale-manage')
                    , checkData = checkStatus.data; //得到选中的数据
                var jsonData = {"id": checkData[0].id};
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm('确定删除吗？', function (index) {
                    //执行 Ajax 后重载
                    admin.req({
                        url: layui.setter.serviceURI + '/sale/delete'
                        , Method: 'GET'
                        , dataType: 'json'
                        , data: jsonData
                        , done: function (r) {
                            if (r.success) {
                                table.reload('commoditySale-manage');
                                layer.msg(r.msg);
                            }
                        }
                    });
                });
            }
            , add: function () {
                layer.open({
                    type: 2
                    , title: '添加商品进货信息'
                    , content: 'addCommoditySale'
                    , maxmin: true
                    , area: ['500px', '600px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'commoditySale-front-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            var jsonStr = JSON.stringify(field);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                type: "POST"
                                , url: layui.setter.serviceURI + "/sale/add"
                                , contentType: "application/json"
                                , dataType: "JSON"
                                , data: jsonStr
                                , success: function (res) {
                                    if (res.success) {
                                        table.reload('commoditySale-manage'); //数据刷新
                                        layer.close(index); //关闭弹层
                                        layer.msg(res.msg);
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
